.lds-ellipsis {
 --rel-size: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(var(--rel-size)* 80px);
  height: (var(--rel-size) * 20px);
}
.lds-ellipsis div {
  position: absolute;
  top: 3px;
  width: calc(var(--rel-size)* 13px);
  height: calc(var(--rel-size)* 13px);
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: calc(var(--rel-size)* 8px);
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: calc(var(--rel-size)* 8px);
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: calc(var(--rel-size)* 32px);
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: calc(var(--rel-size)* 56px);
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(calc(var(--rel-size)* 24px), 0);
  }
}
