.tiny-pkg-loader-elipse {
   --rel-size: 1;
  width: calc(var(--rel-size) * 16px);
  height: calc(var(--rel-size) * 16px);
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  background: #FFF;
  box-shadow: calc(var(--rel-size) * -24px) 0 #FFF, calc(var(--rel-size) * 24px) 0 #FFF;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #FFF;
    box-shadow: calc(var(--rel-size) * -24px) 0 #FF3D00, calc(var(--rel-size) * 24px) 0 #FFF;
  }
  66% {
    background: #FF3D00;
    box-shadow: calc(var(--rel-size) * -24px) 0 #FFF, calc(var(--rel-size) * 24px) 0 #FFF;
  }
  100% {
    background: #FFF;
    box-shadow: calc(var(--rel-size) * -24px) 0 #FFF, calc(var(--rel-size) * 24px) 0 #FF3D00;
  }
}
